body{
    margin: 0;
    padding: 0;
    background-color: #e8f1fd;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
    width: 321px;
    height: fit-content;
    margin : 50px auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid rgb(148, 148, 148);
    justify-self: space-evenly;
    align-items: center;
    box-shadow:  -30px -30px 0px 1px #c8d1e5;
}
form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
form .name{
    
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    gap: 10px;
    justify-content: center;
}
.box{
    width: 192px;
    height: 30.5px;
    border-radius: 2px;
    border: 1px solid rgb(148, 148, 148);
    font-size: 9px;
    padding: 1px 5px;

}
.fn{
    width: 85.5px;
    height: 30.5px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
}
.fn:active, .box:active{
    outline: none;
    border: 1px solid rgb(22, 18, 255);
}
p,h1{
    align-self: center;
}
p{
    font-size: 12px;
    padding: 0 40px 10px 40px;
    color: rgb(100, 100, 100);
    text-align: center;
}
button[class="box"]{
    background-color: #1e2c4b;
    color: white;
    width: 200px;
    border-radius: 2px;
}
button[class="box"]:hover{
    background-color: #162146;
    cursor: pointer;
}
button[class="box"]:active{
    background-color: #0f1630;
}
a{
    text-decoration: none;
    color: rgb(22, 18, 255);
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
a:active{
    color: rgb(10, 8, 128);
}
h1{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 35px;
    align-self: center;
    text-align: center;
}
button[class="fb"]{
    background-color: #3b5998;
    color: white;
    width: 200px;
    height:30.5px;
    border-radius: 2px;
    border-color: #3b5998;
}
#desc{
    font-weight: bold;
}
